/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0px;
  border: none;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  background: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Define the scrollbar style */
.body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the thumb style */
.body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #0000DE;
}

/* Define the track style */
.body::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #F0F4F8;
}

.header-button-prev {
  position: absolute;
  bottom: 120px;
  left: calc(50% + 540px);
  z-index: 9;
  background-image: url("../img/sliders/header-button-prev.svg");
  width: 40px;
  height: 40px;
  content: "";
}
@media screen and (max-width: 1265px) {
  .header-button-prev {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header-button-next {
  position: absolute;
  bottom: 120px;
  left: calc(50% + 590px);
  z-index: 9;
  background-image: url("../img/sliders/header-button-next.svg");
  width: 40px;
  height: 40px;
  content: "";
}
@media screen and (max-width: 1265px) {
  .header-button-next {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.reviews-button-prev {
  position: absolute;
  top: 30%;
  left: -40px;
  z-index: 9;
  background-image: url("../img/sliders/reviews-button-prev.svg");
  width: 80px;
  height: 80px;
  content: "";
}
@media screen and (max-width: 796px) {
  .reviews-button-prev {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.reviews-button-next {
  position: absolute;
  top: 30%;
  right: -40px;
  z-index: 9;
  background-image: url("../img/sliders/reviews-button-next.svg");
  width: 80px;
  height: 80px;
  content: "";
}
@media screen and (max-width: 796px) {
  .reviews-button-next {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__slider .swiper-pagination {
  bottom: 123px !important;
  left: 40% !important;
  transform: translate(-50%, 0) !important;
  z-index: 5;
}
@media screen and (max-width: 1265px) {
  .header__slider .swiper-pagination {
    bottom: -20px !important;
  }
}

.header__slider .swiper-pagination-bullet {
  background-color: #5e6063;
}

.header__slider .swiper-pagination-bullet-active {
  background-color: #0000DE;
}

input[type=range] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 8px;
  background-color: #d5d5d5;
  width: 100%;
  height: 8px;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

input[type=range]::-moz-track {
  -moz-appearance: none;
  height: 8px;
}

input[type=range]::-ms-track {
  appearance: none;
  height: 8px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -10px;
  border: 12px solid #0000DE;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -10px;
  border: 15px solid #0000DE;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 5px;
  height: 5px;
}

input[type=range]::-ms-thumb {
  appearance: none;
  cursor: pointer;
  margin-top: -10px;
  border: 12px solid #0000DE;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
}

input[type=range]:active::-webkit-slider-thumb {
  border: 3px solid #0000DE;
  background-color: #ffffff;
}

#slider-value {
  position: relative;
  border-radius: 5px;
  background-color: #0000DE;
  padding: 10px 0;
  width: 13%;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Ubuntu", sans-serif;
}

a {
  transition: color 0.3s ease-in;
  color: #0000DE;
}
a:hover {
  color: #FFA500;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1275px;
}

.visibility-hidden {
  position: absolute;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
}

.none {
  display: none !important;
}

.btn-1 {
  margin-right: 15px;
  border-radius: 20px 0px 20px 0px;
  background: #0000DE;
  padding: 14px 25px;
  color: #FFFFFF;
}

.btn-2 {
  border-radius: 20px 0px 20px 0px;
  background: #FFFFFF;
  padding: 14px 25px;
  color: #0000DE;
}

@media screen and (max-width: 796px) {
  .title {
    font-size: 28px;
  }
}
.radiobtn {
  display: block;
  position: relative;
}
.radiobtn label {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  border: 2px solid #c6d9e9;
  border-radius: 20px 0;
  background: #f0f4f8;
  padding: 13px 70px 13px 45px;
}
.radiobtn label:after, .radiobtn label:before {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid #c6d9e9;
  border-radius: 2px;
  background: #f0f4f8;
  width: 20px;
  height: 20px;
  content: "";
}
.radiobtn label:before {
  z-index: 2;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  background: transparent;
  background-image: url("../img/Check.svg");
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 796px) {
  .radiobtn label {
    padding: 13px 20px 13px 45px;
    font-size: 14px;
  }
}
.radiobtn input[type=radio] {
  display: none;
  position: absolute;
  appearance: none;
  width: 100%;
}
.radiobtn input[type=radio]:checked + label {
  background: #FFFFFF;
}
.radiobtn input[type=radio]:checked + label:after {
  background: #FFFFFF;
}
.radiobtn input[type=radio]:checked + label:before {
  width: 20px;
  height: 20px;
}

.header {
  background-color: #F0F4F8;
}
@media screen and (max-width: 1265px) {
  .header__logo {
    grid-area: 1/2/1/4;
    justify-self: center;
  }
  .header__logo img {
    padding-right: 45px;
    height: 32px;
  }
}
@media screen and (max-width: 576px) {
  .header__logo {
    grid-area: 1/2/1/3;
  }
  .header__logo img {
    padding-right: 0;
  }
}
@media screen and (max-width: 1265px) {
  .header__search {
    grid-area: 2/1/2/4;
    justify-self: end;
  }
}
@media screen and (max-width: 576px) {
  .header__search {
    display: none;
  }
}
.header__mobile-btn {
  display: none;
}
@media screen and (max-width: 1265px) {
  .header__mobile-btn {
    display: block;
    grid-area: 1/1/1/4;
    justify-self: end;
    margin: 0;
    padding: 8px;
    max-width: 124px;
    font-size: 12px;
  }
}
.header__upon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 19px;
  font-size: 12px;
}
.header__upon a {
  color: #6E9BB8;
}
.header__upon a:hover {
  color: #0000DE;
}
.header__upon-location {
  position: relative;
  padding-left: 20px;
}
.header__upon-location::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  background-image: url("./../img/header/NavigationArrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}
.header__upon-nav {
  display: flex;
  gap: 24px;
}
.header__upon-language {
  border-radius: 2px;
  background: #FFFFFF;
  padding: 3px;
}
@media screen and (max-width: 1265px) {
  .header__upon {
    display: none;
  }
}
.header__separating-line {
  background-color: #6E9BB8;
  max-width: 1245px;
  height: 1px;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px;
}
@media screen and (max-width: 1265px) {
  .header__top-row {
    display: grid;
    grid-template: 1fr 1fr/35px 1fr 130px;
    justify-items: space-between;
    gap: 10px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 29px;
  padding: 0 50px;
  justify-self: center;
}
@media screen and (max-width: 1265px) {
  .header__nav {
    grid-area: 2/1/2/4;
    gap: 10px;
    padding: 0;
  }
}
.header__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  position: relative;
  padding-left: 20px;
}
.header__tel::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  background-image: url("./../img/header/Phone.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}
@media screen and (max-width: 1265px) {
  .header__tel {
    display: none;
  }
}
@media screen and (max-width: 1265px) {
  .header__buttons {
    display: none;
  }
}

.map-ico {
  position: relative;
  padding-right: 20px;
}
.map-ico::after {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  background-image: url("./../img/header/Map.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 1265px) {
  .header__nav-btn {
    display: block;
    grid-area: 1/1/1/3;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
}

.nav-icon {
  position: relative;
  background-color: var(--color);
  width: var(--width);
  height: var(--line-height);
}

.nav-icon::before,
.nav-icon::after {
  display: block;
  position: absolute;
  left: 0;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  background-color: var(--color);
  width: var(--width);
  height: var(--line-height);
  content: "";
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.header__slider {
  position: relative;
  overflow: hidden;
}
.header__slider::before {
  position: absolute;
  top: 0;
  right: calc(-50% + 800px);
  background: url("../img/header/decore-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 355px;
  content: "";
}
.header__slider::after {
  position: absolute;
  top: 0;
  left: calc(50% + 650px);
  background: url("../img/header/decore-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 393px;
  content: "";
}

.header__slider-inner {
  display: grid;
  grid-template-columns: 1fr minmax(0, 490px);
  padding-right: 80px;
  max-width: 1245px;
}
@media screen and (max-width: 796px) {
  .header__slider-inner {
    grid-template-columns: 1fr;
  }
}

.header__slider-image {
  max-width: 100%;
}

.header__slider-inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 796px) {
  .header__slider-inform {
    padding-bottom: 40px;
  }
}

.header__slider-title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 44px;
}
@media screen and (max-width: 796px) {
  .header__slider-title {
    font-size: 32px;
  }
}

.slider-title_accent {
  color: #0000DE;
}

.header__slider-text {
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
}
@media screen and (max-width: 796px) {
  .header__slider-text {
    font-size: 14px;
  }
}

.recommendations {
  margin-bottom: 187px;
  line-height: 110%;
}
.recommendations__title {
  margin-top: 98px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1265px) {
  .recommendations__title {
    margin-top: 50px;
  }
}
.recommendations__carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media screen and (max-width: 1265px) {
  .recommendations__carts {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 796px) {
  .recommendations__carts {
    grid-template-columns: 1fr;
  }
}

.product-cart {
  border-radius: 10px;
  background-color: #F0F4F8;
  padding: 32px 5px 38px 40px;
}
.product-cart__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  max-width: 405px;
  height: 100%;
}
.product-cart__subtitle {
  margin-bottom: 10px;
  color: #6E9BB8;
  font-weight: 400;
  font-size: 14px;
}
.product-cart__title {
  font-weight: 700;
  font-size: 24px;
}
.product-cart__top-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.product-cart__offer {
  display: flex;
  flex-direction: column;
}
.product-cart__profit-num {
  margin-bottom: 12px;
  color: #0000DE;
  font-weight: 700;
  font-size: 36px;
}
.product-cart__info {
  color: #6E9BB8;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.product-cart_1, .product-cart_2, .product-cart_3, .product-cart_4 {
  background-position: right 0;
  background-repeat: no-repeat;
}
.product-cart_1 {
  grid-column: 1/span 2;
  background-image: url("../img/recommendations/1.png");
  background-position: right 0 bottom 0;
}
@media screen and (max-width: 796px) {
  .product-cart_1 {
    grid-column: 1/span 1;
    background-position: left calc(50% + 225px) bottom 0;
  }
}
.product-cart_2 {
  background-image: url("../img/recommendations/2.png");
  background-position: right 0 top 10%;
}
.product-cart_2 .product-cart__info {
  max-width: 245px;
}
.product-cart_3 {
  background-image: url("../img/recommendations/3.png");
  background-position: right 0 top 10%;
}
.product-cart_3 .product-cart__info {
  max-width: 245px;
}
.product-cart_4 {
  grid-column: 2/span 2;
  background-image: url("../img/recommendations/4.png");
  background-position: right 0 bottom 0;
}
@media screen and (max-width: 1265px) {
  .product-cart_4 {
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 796px) {
  .product-cart_4 {
    grid-column: 1/span 1;
    background-position: left calc(50% + 225px) bottom 0;
  }
}

.footer {
  background-color: #F0F4F8;
  padding: 48px 0 10px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 265px 1fr;
  gap: 70px;
}
@media screen and (max-width: 796px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer__logo {
  max-height: 32px;
}
@media screen and (max-width: 796px) {
  .footer__logo {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.footer__search-bar {
  position: relative;
  background-color: #FFFFFF;
  padding: 15px 0 15px 15px;
}
.footer__search-bar input {
  padding-left: 30px;
  width: 100%;
  color: #6E9BB8;
}
.footer__search-bar::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(./../img/header/MagnifyingGlass.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}
.footer__tel {
  font-weight: 700;
  font-size: 37px;
  line-height: 110%;
}
.footer__email {
  display: block;
  margin-bottom: 45px;
  color: #6E9BB8;
  font-size: 12px;
}
.footer__location {
  margin-bottom: 45px;
  color: #6E9BB8;
  font-size: 12px;
}
.footer__location span {
  display: block;
  margin-bottom: 7px;
  color: #0000DE;
  font-size: 18px;
}
.footer__socials {
  display: flex;
  gap: 16px;
}
.footer__socials a {
  border-radius: 6px;
  background: #FFFFFF;
  padding: 10px;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 60px;
}
@media screen and (max-width: 1265px) {
  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer__nav {
    grid-template-columns: 1fr;
  }
}
.footer__nav-column {
  min-width: 140px;
}
.footer__nav-column li {
  margin-bottom: 20px;
}
.footer__nav-title {
  margin-bottom: 34px;
  color: #0000DE;
  font-size: 20px;
}
.footer__nav a {
  display: block;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer__nav a:hover {
  color: #0000DE;
}
.footer__disclaimer {
  margin-bottom: 60px;
  color: #6E9BB8;
  font-size: 12px;
}
.footer__disclaimer h6 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
}
.footer__bottom {
  display: flex;
  gap: 20px;
  color: #6E9BB8;
  font-size: 12px;
}

.useful-info {
  margin-bottom: 100px;
}
.useful-info__card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #F0F4F8;
  padding: 25px 30px;
}
.useful-info__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.useful-info__list li {
  position: relative;
  padding-left: 20px;
}
.useful-info__list li::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  background-image: url("../img/useful-info/CaretRight.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}
.useful-info__list li::before {
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
.useful-info__list a {
  font-weight: 700;
}
@media screen and (max-width: 796px) {
  .useful-info__list a {
    font-size: 14px;
  }
}
.useful-info__card-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
}
@media screen and (max-width: 796px) {
  .useful-info__card-title {
    font-size: 18px;
  }
}
.useful-info__upon-title {
  margin-bottom: 10px;
  color: #6E9BB8;
}
@media screen and (max-width: 796px) {
  .useful-info__upon-title {
    font-size: 14px;
  }
}
.useful-info__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 15px;
}
.useful-info__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
.useful-info__title {
  margin-bottom: 30px;
}
@media screen and (max-width: 796px) {
  .useful-info__title {
    margin-bottom: 20px;
  }
}

.reviews {
  margin-bottom: 124px;
}
@media screen and (max-width: 796px) {
  .reviews {
    margin-bottom: 70px;
  }
}
.reviews__swiper {
  display: flex;
  justify-content: center;
}
.reviews__wrapper {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1428px;
}
@media screen and (max-width: 796px) {
  .reviews__wrapper {
    padding: 0;
  }
}
.reviews__border {
  position: relative;
  margin: 0 auto;
  border-radius: 120px 6px 120px 6px;
  background: #F0F4F8;
  padding: 0 20px;
  max-width: 1368px;
}
@media screen and (max-width: 796px) {
  .reviews__border {
    background: #FFFFFF;
    padding: 0 5px;
  }
}
.reviews__inner {
  margin: 0 auto;
  padding: 60px 60px 15px 60px;
}
@media screen and (max-width: 796px) {
  .reviews__inner {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1265px) {
  .reviews__inner {
    padding: 10px 10px 5px 10px;
  }
}
.reviews__title {
  margin-bottom: 34px;
}
.reviews__slider {
  margin-bottom: 40px;
}
.reviews__slider-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.reviews__slider-card-img {
  margin-bottom: 25px;
  border-radius: 70px 6px 70px 6px;
}
.reviews__slider-card-btn {
  position: absolute;
  top: -10px;
  right: 0;
}
@media screen and (max-width: 796px) {
  .reviews__slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.reviews__slider-card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 796px) {
  .reviews__slider-card-name {
    font-size: 16px;
  }
}
.reviews__slider-card-program {
  color: #6E9BB8;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 796px) {
  .reviews__slider-card-program {
    font-size: 14px;
  }
}
.reviews__more {
  display: inline-block;
  border-radius: 20px 0px 20px 0px;
  background: #FFFFFF;
  padding: 15px 100px;
}
@media screen and (max-width: 796px) {
  .reviews__more {
    background-color: #F0F4F8;
  }
}
.reviews__btn {
  margin: 0 auto;
  max-width: 405px;
}

.calculator__header {
  position: relative;
}
.calculator__border {
  margin: 0 auto;
  border-radius: 64px 6px 64px 6px;
  background: #F0F4F8;
  padding-bottom: 50px;
  max-width: 1368px;
}
@media screen and (max-width: 796px) {
  .calculator__border {
    border-radius: 60px;
    padding-bottom: 30px;
  }
  .calculator__border .container {
    padding: 0 25px;
  }
}
.calculator__nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1245px;
}
@media screen and (max-width: 1265px) {
  .calculator__nav {
    flex-direction: column;
    gap: 15px;
    transform: translate(-50%, -110%);
    margin-top: 120px;
  }
}
.calculator__nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #0000DE;
  padding: 20px;
  width: 100%;
  color: #FFFFFF;
  font-size: 27px;
}
@media screen and (max-width: 1265px) {
  .calculator__nav-link {
    padding: 15px;
    width: unset;
    font-size: 16px;
  }
  .calculator__nav-link img {
    max-width: 54px;
    max-height: 54px;
  }
}
.calculator__inner {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr 1fr;
  gap: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 1265px) {
  .calculator__inner {
    grid-template-columns: 2fr 1.4fr;
  }
}
@media screen and (max-width: 796px) {
  .calculator__inner {
    grid-template-columns: 1fr;
  }
}
.calculator__title {
  margin-bottom: 10px;
  padding-top: 140px;
}
.calculator__inputs {
  margin-top: 30px;
}
.calculator__input-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 40px;
}
.calculator__input-block-title {
  margin-bottom: 10px;
  color: #6E9BB8;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 796px) {
  .calculator__input-block-title {
    font-size: 14px;
  }
}
.calculator__input-block-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
@media screen and (max-width: 796px) {
  .calculator__input-block-value {
    font-size: 16px;
  }
}
.calculator__input-block-value span {
  font-weight: 400;
}
.calculator__radio-block {
  margin-bottom: 10px;
  padding-bottom: 40px;
}
.calculator__range {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
}
.calculator__radio {
  display: flex;
  gap: 15px;
}
.calculator__radio input {
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 1265px) {
  .calculator__frame {
    position: absolute;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.calculator__result {
  border-radius: 10px 10px 120px 10px;
  background: #FFFFFF;
  padding: 25px 70px 30px 35px;
  max-height: 374px;
}
@media screen and (max-width: 1265px) {
  .calculator__result {
    border-radius: 10px;
    padding: 18px;
  }
}
.calculator__result-block {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}
.calculator__result-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media screen and (max-width: 796px) {
  .calculator__result-title {
    font-size: 12px;
  }
}
.calculator__result-value {
  color: #0000DE;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
}
.calculator__result-button {
  padding: 24px;
  width: 100%;
}
@media screen and (max-width: 796px) {
  .calculator__result-mobile {
    display: flex;
    gap: 30px;
  }
}

.possibilities {
  margin-bottom: 120px;
}
.possibilities__title {
  margin-bottom: 40px;
}
.possibilities__sub-title {
  font-size: 18px;
  line-height: 120%;
}
.possibilities__sub-title_1 {
  margin-bottom: 20px;
}
.possibilities__sub-title_2 {
  margin-bottom: 80px;
}
.possibilities__sub-title_3 {
  margin-bottom: 10px;
}
@media screen and (max-width: 796px) {
  .possibilities__sub-title {
    font-size: 16px;
  }
}
.possibilities__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
}
@media screen and (max-width: 1265px) {
  .possibilities__inner {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}
@media screen and (max-width: 796px) {
  .possibilities__inner {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.possibilities__info {
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 1265px) {
  .possibilities__info {
    display: flex;
    grid-area: 1/1/2/3;
    gap: 40px;
  }
}
@media screen and (max-width: 796px) {
  .possibilities__info {
    grid-area: 2/1/2/1;
    flex-direction: column;
    gap: 10px;
  }
}
.possibilities__info-block {
  display: flex;
  position: relative;
  gap: 15px;
  margin-bottom: 25px;
}
.possibilities__info-block:last-child {
  margin-bottom: 0;
}
.possibilities__info-block-title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.possibilities__chart {
  display: flex;
  flex-direction: column;
}
.possibilities__chart-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  background: url("../img/possibilities/Cart-bg.svg") no-repeat center bottom;
}
.possibilities__chart-names {
  display: flex;
  gap: 40px;
}
.possibilities__chart-names_2 {
  margin-top: 10px;
  margin-left: 20px;
}
.possibilities__chart-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.possibilities__chart-title {
  font-size: 18px;
  line-height: 120%;
}
@media screen and (max-width: 796px) {
  .possibilities__chart_1 {
    grid-area: 1/1/1/1;
  }
}
.possibilities__button {
  margin-top: 70px;
}
@media screen and (max-width: 1265px) {
  .possibilities__button {
    grid-area: 4/1/4/3;
    justify-self: center;
    margin-top: 0;
  }
}
@media screen and (max-width: 796px) {
  .possibilities__button {
    grid-area: 5/1/5/1;
    width: 100%;
  }
  .possibilities__button button {
    width: 100%;
  }
}
.possibilities__return {
  grid-area: 2/2/3/4;
}
@media screen and (max-width: 1265px) {
  .possibilities__return {
    grid-area: 3/1/4/3;
  }
}
@media screen and (max-width: 796px) {
  .possibilities__return {
    grid-area: 4/1/4/1;
  }
}
.possibilities__return-title {
  margin: 10px 0;
  font-size: 16px;
  line-height: 120%;
}
.possibilities__return-title span {
  font-weight: 700;
}
@media screen and (max-width: 796px) {
  .possibilities__return-title {
    font-size: 14px;
  }
}

.pole {
  border-radius: 18px 0 18px 0;
  background: #F0F4F8;
  width: 95px;
}
.pole_1 {
  height: 33px;
}
.pole_2 {
  background: #0000DE;
  height: 105px;
}
.pole_3 {
  height: 46px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.cart__title {
  color: rgb(124, 131, 161);
  font-weight: 700;
  font-size: 30px;
}
@media screen and (max-width: 796px) {
  .cart__title {
    font-size: 24px;
  }
}
.cart__title_blue {
  color: #0000DE;
}
.cart__subtitle {
  margin-bottom: 5px;
}
@media screen and (max-width: 796px) {
  .cart__subtitle {
    font-size: 14px;
  }
}
.cart__name {
  font-size: 12px;
}
.cart__name_blue {
  color: #0000DE;
  font-weight: 700;
}

.chart-dot {
  display: block;
  border-radius: 50%;
  background: #6e9bb8;
  width: 10px;
  height: 10px;
}
.chart-dot_blue {
  background: #0000DE;
}

.possibilities__return__separating-line {
  background: linear-gradient(180deg, rgba(198, 217, 233, 0), rgb(198, 217, 233) 49.479%, rgba(198, 217, 233, 0) 100%);
  max-width: 840px;
  height: 1px;
}
@media screen and (max-width: 1265px) {
  .possibilities__return__separating-line {
    max-width: 100%;
  }
}

.possibilities__return-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media screen and (max-width: 796px) {
  .possibilities__return-inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.possibilities__return-subtitle {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-left: 30px;
  color: rgb(124, 131, 161);
  font-weight: 700;
  line-height: 120%;
}
.possibilities__return-subtitle::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  background-image: url("../img/possibilities/CheckCircle.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}
@media screen and (max-width: 796px) {
  .possibilities__return-subtitle {
    font-size: 14px;
  }
}
.possibilities__return-subtitle::before {
  width: 20px;
  height: 20px;
}
.possibilities__return-subtitle_blue {
  color: #0000DE;
}
.possibilities__return-subtitle_muted {
  color: #6E9BB8;
}
.possibilities__return-subtitle_muted::before {
  background: url("../img/possibilities/UnCheckCircle.svg") no-repeat;
}