/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
  background-color: #FFFFFF;
}

a {
  color: #0000DE;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
a:hover {
  color: #FFA500;
}

.container {
  max-width: 1275px;
  padding: 0 15px;
  margin: 0 auto;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 34px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0%;
}

.title-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0%;
}

.text-muted {
  color: #6E9BB8;
  line-height: 140%;
  letter-spacing: 0%;
  font-size: 12px;
}

.none {
  display: none !important;
}

.btn-1 {
  border-radius: 20px 0px 20px 0px;
  padding: 14px 25px;
  background: #0000DE;
  color: #FFFFFF;
  margin-right: 15px;
}

.btn-2 {
  border-radius: 20px 0px 20px 0px;
  padding: 14px 25px;
  background: #FFFFFF;
  color: #0000DE;
}

.header {
  background-color: #F0F4F8;
}

.header__upon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  padding-bottom: 19px;
  font-size: 12px;
}
.header__upon a {
  color: #6E9BB8;
}
.header__upon a:hover {
  color: #0000DE;
}

.header__upon-location {
  position: relative;
  padding-left: 20px;
}
.header__upon-location::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("./../img/header/NavigationArrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__upon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.map-ico {
  position: relative;
  padding-right: 20px;
}
.map-ico::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("./../img/header/Map.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__upon-language {
  border-radius: 2px;
  background: #FFFFFF;
  padding: 3px;
  border-radius: 2px;
}

.header__separating-line {
  max-width: 1245px;
  height: 1px;
  background-color: #6E9BB8;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 0 50px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
}

.header__tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
  position: relative;
  padding-left: 20px;
}
.header__tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("./../img/header/Phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__slider {
  position: relative;
  overflow: hidden;
}
.header__slider::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 355px;
  height: 100%;
  right: calc(-50% + 800px);
  background: url("../img/header/decore-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header__slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 393px;
  left: calc(50% + 650px);
  background: url("../img/header/decore-right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header__slider-inner {
  display: grid;
  grid-template-columns: 1fr minmax(0, 490px);
}

.header__slider-image {
  max-width: 100%;
}

.header__slider-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__slider-title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 23px;
}

.slider-title_accent {
  color: #0000DE;
}

.header__slider-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 42px;
}

.recommendations {
  line-height: 110%;
  margin-bottom: 187px;
}

.recommendations__title {
  margin-top: 98px;
  margin-bottom: 30px;
}

.recommendations__carts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  gap: 15px;
}

.product-cart {
  border-radius: 10px;
  padding: 32px 5px 38px 40px;
  background-color: #F0F4F8;
}
.product-cart_1 {
  grid-column: 1/span 2;
  background: #F0F4F8 url("../img/recommendations/1.png") no-repeat;
  background-position: right 0 bottom 0;
}
.product-cart_2 {
  background: #F0F4F8 url("../img/recommendations/2.png") no-repeat;
  background-position: right 0 top 10%;
}
.product-cart_2 .product-cart__info {
  max-width: 212px;
}
.product-cart_3 {
  background: #F0F4F8 url("../img/recommendations/3.png") no-repeat;
  background-position: right 0 top 10%;
}
.product-cart_3 .product-cart__info {
  max-width: 212px;
}
.product-cart_4 {
  grid-column: 2/span 2;
  background: #F0F4F8 url("../img/recommendations/4.png") no-repeat;
  background-position: right 0 bottom 0;
}

.product-cart__container {
  max-width: 405px;
}

.product-cart__subtitle {
  color: #6E9BB8;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.product-cart__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-cart__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 26px;
  gap: 30px;
}

.product-cart__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-cart__profit-num {
  color: #0000DE;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.product-cart__info {
  color: #6E9BB8;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 27px;
}

.footer {
  background-color: #F0F4F8;
  padding: 48px 0 10px 0;
}
.footer__wrapper {
  display: grid;
  gap: 70px;
  grid-template-columns: 256px 1fr;
}
.footer__logo {
  max-height: 32px;
}
.footer__search-bar {
  position: relative;
  background-color: #FFFFFF;
  padding: 15px 0 15px 15px;
}
.footer__search-bar input {
  padding-left: 30px;
  color: #6E9BB8;
}
.footer__search-bar input::-webkit-input-placeholder {
  color: #6E9BB8;
}
.footer__search-bar input::-moz-placeholder {
  color: #6E9BB8;
}
.footer__search-bar input:-ms-input-placeholder {
  color: #6E9BB8;
}
.footer__search-bar input::-ms-input-placeholder {
  color: #6E9BB8;
}
.footer__search-bar input::placeholder {
  color: #6E9BB8;
}
.footer__search-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url(./../img/header/MagnifyingGlass.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__tel {
  font-size: 37px;
  font-weight: 700;
  line-height: 110%;
}
.footer__email {
  display: block;
  color: #6E9BB8;
  font-size: 12px;
  margin-bottom: 45px;
}
.footer__location {
  color: #6E9BB8;
  font-size: 12px;
  margin-bottom: 45px;
}
.footer__location span {
  display: block;
  color: #0000DE;
  font-size: 18px;
  margin-bottom: 7px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.footer__socials a {
  padding: 10px;
  border-radius: 6px;
  background: #FFFFFF;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 60px;
}
.footer__nav-column {
  min-width: 140px;
}
.footer__nav-column li {
  margin-bottom: 20px;
}
.footer__nav-title {
  color: #0000DE;
  font-size: 20px;
  margin-bottom: 34px;
}
.footer__nav a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.footer__nav a:hover {
  color: #0000DE;
}
.footer__disclaimer {
  font-size: 12px;
  color: #6E9BB8;
  margin-bottom: 60px;
}
.footer__disclaimer h6 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: #6E9BB8;
  font-size: 12px;
}

.useful-info {
  margin-bottom: 100px;
}
.useful-info__card {
  position: relative;
  background: #F0F4F8;
  border: 1px solid #ddd;
  padding: 25px 30px;
  border-radius: 10px;
}
.useful-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.useful-info__list li {
  position: relative;
  padding-left: 20px;
}
.useful-info__list li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/useful-info/CaretRight.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.useful-info__list li::before {
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.useful-info__card-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.useful-info__upon-title {
  color: #6E9BB8;
  margin-bottom: 10px;
}
.useful-info__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 15px;
}
.useful-info__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
.useful-info__title {
  margin-bottom: 30px;
}