.calculator {
  &__header {
    position: relative;
  }

  &__border {
    max-width: 1368px;
    background: $color-hf;
    border-radius: 64px 6px 64px 6px;
    margin: 0 auto;
    padding-bottom: 50px;

    @include mediaMobile {
      padding-bottom: 30px;
      border-radius: 60px;

      .container {
        padding: 0 25px;
      }
    }
  }

  &__nav {
    position: absolute;
    width: 100%;
    max-width: 1245px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;

    @include mediaTablet {
      transform: translate(-50%, -110%);
      margin-top: 120px;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    background: $color-blue;
    color: $color-white;
    padding: 20px;
    margin: 0 10px;
    font-size: 27px;

    @include mediaTablet {
      width: unset;
      padding: 15px;
      font-size: 16px;

      img {
        max-width: 54px;
        max-height: 54px;
      }
    }
  }

  &__inner {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1.3fr 1fr;
    gap: 30px;

    @include mediaTablet {
      grid-template-columns: 2fr 1.4fr;
    }

    @include mediaMobile {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    padding-top: 140px;
    margin-bottom: 10px;
  }

  &__inputs {
    margin-top: 30px;
  }

  &__input-block {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__input-block-title {
    font-size: 16px;
    line-height: 140%;
    color: $color-muted;
    margin-bottom: 10px;

    @include mediaMobile {
      font-size: 14px;
    }
  }

  &__input-block-value {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;

    @include mediaMobile {
      font-size: 16px;
    }
  }

  &__input-block-value span {
    font-weight: 400;
  }

  &__radio-block {
    padding-bottom: 40px;
    margin-bottom: 10px;
  }

  &__range {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
  }

  &__radio {
    display: flex;
    gap: 15px;
  }

  &__radio input {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__frame {
    @include mediaTablet {
      @include visibility-hidden;
    }
  }

  &__result {
    max-height: 374px;
    border-radius: 10px 10px 120px 10px;
    background: $color-white;
    padding: 25px 70px 30px 35px;

    @include mediaTablet {
      padding: 18px;

      border-radius: 10px;
    }
  }

  &__result-block {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  &__result-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    @include mediaMobile {
      font-size: 12px;
    }
  }

  &__result-value {
    color: $color-blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 110%;
  }

  &__result-button {
    width: 100%;
    padding: 24px;
  }

  &__result-mobile {
    @include mediaMobile {
      display: flex;
      gap: 30px;
    }
  }
}
