.calculator {
  &__header {
    position: relative;
  }
  
  &__border {
    max-width: 1368px;
    background: $color-hf;
    border-radius: 64px 6px 64px 6px;
    margin: 0 auto;
    margin-bottom: 110px;
  }

  &__nav {
    position: absolute;
    width: 100%;
    max-width: 1245px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    background: $color-blue;
    color: $color-white;
    padding: 20px;
    font-size: 27px;
  }

  &__inner {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 460px 400px 300px;
    gap: 30px;
  }

  &__title {
    padding-top: 140px;
    margin-bottom: 10px;
  }

  &__inputs {
    margin-top: 30px;
  }

  &__input-block {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__input-block-title {
    font-size: 12px;
    line-height: 140%;
    color: $color-muted;
    margin-bottom: 10px;
  }

  &__input-block-value {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
  }

  &__input-block-value span {
    font-weight: 400;
  }

  &__radio-block {
    padding-bottom: 40px;
    margin-bottom: 10px;
  }

  &__range {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
  }

  &__radio {
    display: flex;
    gap: 15px;
  }

  &__radio input {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__result {
    max-height: 374px;
    border-radius: 10px 10px 120px 10px;
    background: $color-white;
    padding: 25px 70px 30px 35px;
  }

  &__result-block {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  &__result-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__result-value {
    color: $color-blue;
    font-size: 36px;
    font-weight: 700;
    line-height: 110%;
  }

  &__result-button {
    width: 100%;
    padding: 24px;
  }
}
