$inactive-color: #f0f4f8;
$inactive-border-color: #c6d9e9;

.radiobtn {
  display: block;
  position: relative;

  label {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    border: 2px solid $inactive-border-color;
    border-radius: 20px 0;
    background: $inactive-color;
    padding: 13px 70px 13px 45px;

    &:after,
    &:before {
      position: absolute;
      top: 15px;
      left: 15px;
      border: 2px solid $inactive-border-color;
      border-radius: 2px;
      background: $inactive-color;
      width: 20px;
      height: 20px;
      content: "";
    }

    &:before {
      z-index: 2;
      transition:
        0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
        0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
      background: transparent;
      background-image: url("../img/Check.svg");
      background-position: center;
      background-size: 13px;
      background-repeat: no-repeat;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    @include mediaMobile {
      padding: 13px 20px 13px 45px;
      font-size: 14px;
    }
  }

  input[type="radio"] {
    display: none;
    position: absolute;
    appearance: none;
    width: 100%;

    &:checked + label {
      background: $color-white;

      &:after {
        background: $color-white;
      }

      &:before {
        width: 20px;
        height: 20px;
      }
    }
  }
}
