.header {
  background-color: $color-hf;

  &__upon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 19px;
    font-size: 12px;

    a {
      color: $color-muted;

      &:hover {
        color: $color-blue;
      }
    }

    &-location {
      @include ico-left("./../img/header/NavigationArrow.svg");
    }

    &-nav {
      display: flex;
      gap: 24px;
    }

    &-language {
      border-radius: 2px;
      background: $color-white;
      padding: 3px;
    }
  }

  &__separating-line {
    max-width: 1245px;
    height: 1px;
    background-color: $color-muted;
  }

  &__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 50px;
  }

  &__nav {
    display: flex;
    gap: 29px;
    align-items: center;
    padding: 0 50px;
  }

  &__tel {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;

    @include ico-left("./../img/header/Phone.svg");
  }
}

.map-ico {
  @include ico-right("./../img/header/Map.svg");
}
