.recommendations {
  margin-bottom: 187px;
  line-height: 110%;

  &__title {
    margin-top: 98px;
    margin-bottom: 30px;

    @include mediaTablet {
      margin-top: 50px;
    }
  }

  &__carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include mediaTablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mediaMobile {
      grid-template-columns: 1fr;
    }
  }
}

.product-cart {
  border-radius: 10px;
  background-color: $color-hf;
  padding: 32px 15px 38px 40px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    max-width: 405px;
    height: 100%;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: $color-muted;
    font-weight: 400;
    font-size: 14px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__top-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__offer {
    display: flex;
    flex-direction: column;
  }

  &__profit-num {
    margin-bottom: 12px;
    color: $color-blue;
    font-weight: 700;
    font-size: 36px;

    @include mediaTablet {
      font-size: 24px;
    }
  }

  &__info {
    color: $color-muted;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &_1,
  &_2,
  &_3,
  &_4 {
    background-position: right 0;
    background-repeat: no-repeat;
  }

  &_1 {
    grid-column: 1 / span 2;
    background-image: url("../img/recommendations/1.png");
    background-position: right 0 bottom 0;

    @include mediaMobile {
      grid-column: 1 / span 1;
      background-position: left calc(50% + 175px) bottom 0;
    }
  }

  &_2 {
    background-image: url("../img/recommendations/2.png");
    background-position: right 0 top 10%;

    .product-cart__info {
      max-width: 245px;
    }
  }

  &_3 {
    background-image: url("../img/recommendations/3.png");
    background-position: right 0 top 10%;

    .product-cart__info {
      max-width: 245px;
    }
  }

  &_4 {
    grid-column: 2 / span 2;
    background-image: url("../img/recommendations/4.png");
    background-position: right 0 bottom 0;

    @include mediaTablet {
      grid-column: 1 / span 2;
    }

    @include mediaMobile {
      grid-column: 1 / span 1;
      background-position: left calc(50% + 155px) bottom 0;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @include mediaMobile {
    background-image: none;
  }
}
