.reviews {
  margin-bottom: 124px;

  @include mediaMobile {
    margin-bottom: 70px;
  }

  &__swiper {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1428px;

    @include mediaMobile {
      padding: 0;
    }
  }

  &__border {
    position: relative;

    margin: 0 auto;
    border-radius: 120px 6px 120px 6px;
    background: $color-hf;
    padding: 0 20px;

    max-width: 1368px;

    @include mediaMobile {
      background: $color-white;
      padding: 0 5px;
    }
  }

  &__inner {
    margin: 0 auto;
    padding: 60px 60px 15px 60px;

    @include mediaMobile {
      padding: 0 10px;
    }

    @include mediaTablet {
      padding: 10px 10px 5px 10px;
    }
  }

  &__title {
    margin-bottom: 34px;
  }

  &__slider {
    margin-bottom: 40px;
  }

  &__slider-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    &-img {
      margin-bottom: 25px;
      border-radius: 70px 6px 70px 6px;
    }

    &-btn {
      position: absolute;
      top: -10px;
      right: 0;
    }

    @include mediaMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__slider-card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    @include mediaMobile {
      font-size: 16px;
    }
  }

  &__slider-card-program {
    color: $color-muted;
    font-size: 16px;
    line-height: 140%;

    @include mediaMobile {
      font-size: 14px;
    }
  }

  &__more {
    display: inline-block;

    border-radius: 20px 0px 20px 0px;
    background: $color-white;
    padding: 15px 100px;

    @include mediaMobile {
      background-color: $color-hf;
    }
  }

  &__btn {
    margin: 0 auto;
    max-width: 405px;
  }
}
