@mixin ico-left($icon-path) {
  position: relative;
  padding-left: 20px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);

    background-image: url($icon-path);
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: "";
  }
}

@mixin ico-right($icon-path) {
  position: relative;
  padding-right: 20px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);

    background-image: url($icon-path);
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: "";
  }
}

@mixin mediaTablet {
  @media screen and (max-width: $screen-tablet) {
    @content;
  }
}

@mixin mediaMobile {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin visibility-hidden {
  position: absolute;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
