// Fonts
$font-main: "Ubuntu", sans-serif;


// Colors
$color-dark: #000000;
$color-blue: #0000DE;
$color-muted: #6E9BB8;
$color-white: #FFFFFF;
$color-accent: #FFA500; 
$color-hf: #F0F4F8;

// Breakpoints
$screen-tablet: 1265px;
$screen-sm: 768px;
$screen-xs: 576px;